body { 
  font-family:"Droid Sans"; 
  background-image:url("transport/537f34d8ceb53.png");
  background-size: cover;
}

h1 {
  color: chocolate;
}

.left {
  float: left;
}

.right {
  float: right;
}
